# Node.js modules
node_modules/

# Next.js build output
.next/

# Laravel vendor folder
vendor/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment files
.env

# Compiled output
*.out
*.swp
*.pid

# Temporary files
tmp/
temp/

# Cache
.cache/
.vscode/

# Build artifacts
dist/
build/
